// COLORS
$primary-color: #141E30;
$secondary-color: #243B55;

$white-color: #fff;

$dark-grey: #ff0d0d;

$dark-blue-text: #141E30; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
